.Profile-body {
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: black;
    padding-top: 10vh;
}

.Profile-title {
    padding: 0.5% 1% 0.5% 1%;
}

.Profile-content {
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    padding: 1% 1% 1% 1%;
    margin: 1% 1% 2% 1%;
}

.Profile-hr {
    color: black;
    width: 85%;
    margin-left: 7.5%;
}

.Profile-text {
    width: 90%;
    margin-left: 5%;
    text-align: left;
    padding: 1% 0 3% 0;
}

.Profile-image {
    width: 95%;
    height: 20vh;
    margin: 5% 0 5% 0;
}

.Profile-image-group {
    padding: 0 4% 0 4%;
}