.General-body {
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: black;
    padding-top: 10vh;
}

.General-title {
    padding: 0 1% 0.5% 1%;
}

.General-background {
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    padding: 1% 1% 1% 1%;
    margin: 1% 1% 2% 1%;
}

.General-hr {
    color: black;
    width: 85%;
    margin-left: 7.5%;
}

.General-text {
    width: 90%;
    margin-left: 5%;
    text-align: left;
    padding: 1% 0 3% 0;
}

.General-image {
    width: 100%;
    height: 20vh;
    margin: 5% 0 5% 0;
}

.General-image-group {
    padding: 0 4% 0 4%;
}

.General-nav {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5% 3% 5% 3%;
    margin-top: 5%;
    min-height: 30vh;
    position: fixed;
}

.General-nav-en {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5% 0.5% 5% 0.5%;
    margin-top: 5%;
    min-height: 30vh;
    position: fixed;
    /*font-size: 20px;*/
}

.General-content {
    margin: 1% 0 3% 0;
    min-height: 66vh;
}

.General-nav-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.General-nav-link:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
    transition: all 1s;
}

.General-nav-links-en {
    font-size: 16px;
}

@media screen and (max-width: 800px) {
    .General-content {
        width: 40%;
    }
    .General-hr {
        width: 180%;
        margin-left: 70%;
    }
    .General-title {
        width: 180%;
        margin-left: 70%;
        font-size: 150%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .General-content {
        width: 100%;
    }
    .General-body {
        padding-top: 3%;
    }
    .General-hr {
        width: 80%;
        margin-left: 18%;
    }
    .General-title {
        width: 100%;
        margin-left: 5%;
        font-size: 150%;
    }
}