/*.Home {*/
/*    text-align: center;*/
/*    background-image: url("../img/background.png");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-attachment: fixed;*/
/*}*/

.Home-body {
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.Home-image {
    width: 80%;
}

/*.Home-header {*/
/*    background: -webkit-linear-gradient(white, cornflowerblue);*/
/*    min-height: 25vh;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 100%;*/
/*    position: fixed;*/
/*    top: 0;*/
/*}*/

.Home-nav {
    font-size: 20px;
}

.Home-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    margin: 6rem;
}

.Home-link:hover {
    transition: color .5s;
    color: rgba(0, 0, 0, 1);
}

.Home-row {
    width: 100%;
    padding-top: 4vh;
    height: 10vh;
    padding-bottom: 2.5vh;
    /*align-items: center;*/
}

#Home-logo {
    align-items: flex-end;
}

#Home-title {
    font-size: 24px;
    font-family: "楷体", serif;
}

#Home-language {
    color: rgba(0, 0, 0, 0.7);
}

#Home-language:hover {
    transition: color .5s;
    color: rgba(0, 0, 0, 1);
}

.Home-content {
    background: rgba(255, 255, 255, 0.9);
    width: 81%;
}

#Home-page-img {
    width: 91%;
    padding-left: 10%;
    height: 50vh;
}

.title-block {
    background-image: url("../img/home/homePageImg3.png");
}

.text-on-image {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5% 3% 0.5% 3%;
    width: 50%;
    position: relative;
    bottom: 30vh;
    left: 25%;
    /*right: 50%;*/
    font-family: "楷体", KaiTi, serif;
    font-size: 40px;
}

.Home-content-title {
    background: rgba(255, 255, 255, 0.9);
    width: 81%;
    align-items: center;
    color: green;
    font-size: 40px;
}

.home-card-img {
    height: 25vh;
}