.Home-body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 92vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Home-image {
    width: 81%;
}

.Home-header {
    /*background: rgba(100, 149, 237, 0.9);*/
    background: -webkit-linear-gradient(white, cornflowerblue);
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home-nav {
    font-size: 20px;
}

.Home-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    padding: 6rem;
}

.Home-link:hover {
    transition: color .5s;
    color: rgba(0, 0, 0, 1);
}

.Home-row {
    width: 100%;
    padding-top: 4vh;
    height: 10vh;
    padding-bottom: 2.5vh;
    /*align-items: center;*/
}

#Home-logo {
    align-items: flex-end;
}

#Home-title {
    font-size: 24px;
    font-family: "楷体", serif;
}