.Business-nav {
    padding: 5% 0.5% 4% 0;
    font-size: 20px;
}

.Business-subtitle {
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
}

.Business-summary-table {
    margin: 1% 4% 1% 4%;
    font-size: 20px;
}

.Business-class {
}

