.Business-nav {
    padding: 1% 0.5% 0.5% 0;
    font-size: 18px;
    margin: 0 0 0 0;
}

.Business-subtitle {
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
}

.Business-subtitle-en {
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
    width: 80%;
    margin-left: 10%;
}

.Business-summary-table {
    margin: 1% 4% 1% 4%;
    font-size: 20px;
}

.Business-single-image {
    width: 100%;
    min-height: 30vh;
}

html{
    scroll-padding-top: 60px;
}

.Business-nav-en {
    padding: 1% 0.5% 0 0;
    font-size: 18px;
    margin: 0 0 0 0;
}

.Business-text {
    font-size: 20px;
}

.Business-text-subtitle {
    font-size: 25px;
    font-weight: 1000;
}

